<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: header('Home Page')"></head>
<body class="myb">
<section th:include="fragment.html :: navbar"></section>


<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Completed</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="todo,iter : ${todos}">
                <td th:text="${iter.count}" class=""></td>
                <td th:utext="${todo.title}" th:style="${todo.completed}?'text-decoration: line-through;':''"></td>
                <td th:utext="${todo.description}"
                    th:style="${todo.completed}?'text-decoration: line-through;':''">
                </td>
                <td th:if="${todo.completed}">
                    <div class="form-check">
<!--                        <a th:href="@{/todo/complete/{id}(id=${todo.id})}">-->
<!--                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>-->
<!--                        </a>-->
                        <form method="post" th:action="@{/todo/complete/{id}(id=${todo.id})}">
                            <input class="form-check-input" type="checkbox" role="switch" id="reset-button" name="completed"
                                   th:checked="${todo.isCompleted()}" onclick="this.form.submit()">
                            <!--                        <label class="form-check-label" for="completed" > Completed ?</label>-->
                        </form>
                    </div>
                </td>
                <td th:unless="${todo.completed}">
                    <div class="form-check">
<!--                        <a th:href="@{/todo/complete/{id}(id=${todo.id})}">-->
<!--                            <input class="form-check-input" type="checkbox" id="k">-->
<!--                        </a>-->
                        <form method="post" th:action="@{/todo/complete/{id}(id=${todo.id})}">
                            <input class="form-check-input" type="checkbox" role="switch" id="completed" name="completed"
                                   th:checked="${todo.isCompleted()}" onclick="this.form.submit()">
                            <!--                        <label class="form-check-label" for="completed" > Completed ?</label>-->
                        </form>
                    </div>
                </td>

                <th class="icons">
                    <a th:href="@{/todo/detail/{id}(id = ${todo.id})}">👁</a>
                    <a th:href="@{/todo/block/{id}(id = ${todo.id})}">🔐</a>
                    <a th:href="@{/todo/unblock/{id}(id = ${todo.id})}">🔓</a>
                    <a th:href="@{/todo/delete/{id}(id = ${todo.id})}">🗑</a>
                </th>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/todo/create}" class="btn btn-success">➕ Add</a>
    </div>
</div>

<section th:include="fragment.html :: js-files"></section>
</body>
</html>
