<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: header('Detail Page')"></head>
<body class="myb">
<section th:include="fragment.html :: navbar"></section>
<body>
<main>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <p class="h4" th:text="${todo.title}"></p>
                <p class="h4" th:text="${todo.description}"></p>
                <!--                <p class="h4" th:text="${todo.com}"></p>-->
                <p>Are You Sure</p>
                <form method="get" th:action="@{/todo/all}">
                    <button type="submit" class="btn btn-warning">Back</button>
                </form>
            </div>
        </div>
    </div>
</main>
<section th:include="fragment.html :: js-files"></section>

</body>
</html>